[user]
	name = Nikolai Norum Vinningland
[include]
	path = ~/.gitconfig-email
[alias]
	# (https://gist.github.com/mwhite/6887990)
	# one-line log
	l = log --graph --oneline --use-mailmap --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cN]" --decorate --date=format:'%d-%m-%Y %H:%M:%S'

	ps = push
        psu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""

	ft = fetch
	pl = pull

	a = add
	ap = add -p
	c = commit --verbose
	ca = commit -a --verbose
	cm = commit -m
	cam = commit -a -m
	m = commit --amend --verbose
    
	d = diff
	ds = diff --stat
	dc = diff --cached

	s = status -s
	co = checkout
	cob = checkout -b
	b = branch

	mg = merge
	mgd = "!git mg $1 && git b -d $1; #"

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"
	rewrite-name = "!f() { OLD_EMAIL=\"$(git config user.email)\";NEW_NAME=\"$(git config user.name)\";TMP=$(mktemp);printf \"%s <%s> <%s>\\n\" \"$NEW_NAME\" \"$OLD_EMAIL\" \"$OLD_EMAIL\" > \"$TMP\";git filter-repo --force --mailmap \"$TMP\";rm -f \"$TMP\";}; f"
	set-mailmap = "!NAME=\"$(git config user.name)\"; EMAIL=\"$(git config user.email)\"; [ -z \"$NAME\" ] || [ -z \"$EMAIL\" ] && { echo \"user.name or user.email not set\" >&2; exit 1; }; printf \"%s <%s> <%s>\\n\" \"$NAME\" \"$EMAIL\" \"$EMAIL\" >> .mailmap; echo \"Updated .mailmap with: $NAME <$EMAIL> <$EMAIL>\";"

[init]
	defaultBranch = main
[log]
	mailmap = true
