{
  "trailingComma": "none",
  "semi": true,
  "printWidth": 125,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
}
